//admin lte
@import "admin-lte/dist/css/adminlte.min.css";
//plugins
@import "admin-lte/plugins/toastr/toastr.min.css";
@import "admin-lte/plugins/sweetalert2/sweetalert2.min.css";
//font-awesome 6
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "nprogress/nprogress.css";
//select2
@import "select2/dist/css/select2.min.css";
@import "admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";
//flatpickr
@import "flatpickr/dist/flatpickr.min.css";
//dropzone
@import "~dropzone/dist/dropzone.css";
//cropper image
@import "cropperjs/dist/cropper.min.css";

html {
  font-size: 14px;
}

.btn-no-style {
  display: inline;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

#nprogress .bar {
  z-index: 9999;
}

.select-icon-container {
  ul.select2-results__options {
    display: flex;
    flex-flow: row wrap;

    li.select2-results__option {
      flex: 1 1 50px;
      border: 1px solid #ddd;
      margin: 1px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .select2-selection__rendered i {
    margin-right: 5px;
  }
}

.select2-container--bootstrap4 {
  .select2-selection__clear {
    line-height: .9em;
    text-align: center;
    padding: 0;
  }
}

.select2-selection__clear {
  line-height: .9em;
  text-align: center;
  padding: 0;
}

.ck-editor__editable {
  min-height: 500px;
}

.dropzone {
  background-color: #ffff;
  border: 2px solid #ced4da;
  border-radius: 3px;
  padding: 0;

  .dz-preview {
    .dz-image {
      width: fit-content;
      height: 140px;

      img {
        height: 100%;
      }
    }
  }
}

.input-none {
  display: none;
}

.select2-container--bootstrap4 {
  .select2-selection--multiple {
    .select2-selection__choice {
      /* border: 1px solid #343a40; */
      border-radius: .25rem;
      cursor: default;
      float: left;
      margin: .1875rem;
      padding: .25rem .4rem;
    }

    .select2-selection__choice__remove {
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      margin-right: .375rem;

      &:hover {
        color: #dae0e5;
      }
    }

    .select2-selection__rendered {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      line-height: 1;
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: .50rem;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
